{
  "extends": ["airbnb", "plugin:react/recommended", "prettier"],
  "plugins": ["jest", "react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "quotes": [2, "single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 0,
    "react/destructuring-assignment": 0,
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "every": ["nesting", "id"]
        },
        "allowChildren": true
      }
    ],
    "no-underscore-dangle": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
