@import 'src/styles/variables';

.heroWrapper {
  background: $primary-color;

  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: center;
    padding: 15px;

    > svg {
      max-width: 100%;
      width: 100%;
    }
  }
}
