@import 'src/styles/index';

.item {
  @extend .btn;

  cursor: pointer;
  margin: 0.25rem 0.125rem;

  &:first-child {
    margin-left: 0.3rem;
  }

  &:last-child {
    margin-right: 0.3rem;
  }

  &.selected {
    @extend .btn, .btn-success;
  }
}
