// Fonts

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; // sass-lint:disable-line indentation

// Colors
$primary-color: rgba(0, 166, 81, 1);
$secondary-color: rgba(255, 255, 255, 1);
$tertiary-color: rgba(44, 62, 80, 1);
$background-color: rgba(245, 245, 245, 1);
$shadow-color: rgba(0, 0, 0, 0.125);

// Border radius

$border-radius: 0.25rem;
