.transition-group {
  height: 100%;
  position: relative;
  width: 100%;
}

.route {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fade-enter {
  opacity: 0;

  &.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
}

.fade-exit {
  opacity: 1;

  &.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }
}

$cubic-bezier: cubic-bezier(0.4, 0.75, 0.5, 1);
$transition-delay-opacity: 375ms;
$transition-delay-transform: 750ms;
$transition-opacity: opacity $transition-delay-opacity ease-in-out;
$transition-slide: transform $transition-delay-transform $cubic-bezier;

.slide-in-left-enter {
  opacity: 0;
  transform: translateX(100%);
  transition: $transition-opacity, $transition-slide;

  &.slide-in-left-enter-active {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left-exit {
  opacity: 1;
  transform: translateX(0);
  transition: $transition-opacity, $transition-slide;

  &.slide-in-left-exit-active {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.slide-in-right-enter {
  opacity: 0;
  transform: translateX(-100%);
  transition: $transition-opacity, $transition-slide;
  z-index: 1050;

  &.slide-in-right-enter-active {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-right-exit {
  opacity: 1;
  transform: translateX(0);
  transition: $transition-opacity, $transition-slide;
  z-index: 1000;

  &.slide-in-right-exit-active {
    opacity: 0;
    transform: translateX(100%);
  }
}
