@import 'src/styles/variables';

.navbar {
  align-items: center;
  background: $primary-color;
  border-bottom: 2px solid $secondary-color;
  box-shadow: 0 0 1px 0 $shadow-color;
  display: flex;
  padding: 0.5rem;
  position: relative;
  z-index: 2000;

  .pullRight {
    margin-left: auto;
    margin-right: 0.5rem;
  }
}
