@import 'src/styles/index';

.post {
  .details {
    background: $primary-color-dark;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: $secondary-color-dark;

    padding: 0.75rem;
  }

  .address,
  .title {
    margin-bottom: 0;
  }
}
