@import 'src/styles/variables';

.post {
  .details {
    background: $primary-color;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: $secondary-color;

    padding: 0 0.4rem 0.3rem;
  }

  .address,
  .title {
    margin-bottom: 0;
  }
}
